<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

  <div class="nav-container">
        <ul class="nav-items">
            <!-- Navigation -->
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/views/layouts/requests.handlebars">Schedule</a></li>
            {{!-- <li class="nav-item"><a href="#">Contact</a></li> --}}
            <!-- Dropdown menu -->

        </ul>
    </div>


      <h1>Waiter Availability</h1>



</body>
</html>