<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <title>Login Form</title>
</head>

<body>


    <div class="nav-container">
        <ul class="nav-items">
            <!-- Navigation -->
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/days">Schedule</a></li>
            <a href="/login"><li class="nav-item">Login</li></a>

        </ul>
    </div>


    <h1>Waiter Availability</h1>


    <div class="loginbox">
        <img src="/css/login (1) (1).jpg" alt="" class="avatar">

        <div>

            {{!-- <label>Login as:</label>
            <select name="" id="users">
                <a href="/waitress">
                    <option value="">Waiter</option>
                </a>
                <a href="/admin">
                    <option value="">Admin</option>
                </a>
            </select> --}}
            <p>Please enter your name below to select your workdays</p>
            <form action="/add" method="post">
                <div class="dropDown">

                    <div class="error">
                        {{messages.error}}
                    </div>


                    <div class="successs">
                        {{messages.successs}}
                    </div>
                    <input type="text" name="userInput" value="" placeholder="Enter name" >
                       {{user.username}}

                    <input type="Password" name="" placeholder="Enter password" >
                    <a href="/week"><button class="logBtn">Register</button></a>
                    {{!-- <a href="#">Make a call instead?</a> <br> --}}
                    {{!-- <p><i>Do you have a code already? Login!</i></p><a href="/login"><button --}}
                            {{!-- class="loginBtn">Login</button></a> --}}


            </form>
        </div>

        {{!-- <input name="user" type="text" placeholder="Your name here"> <br> <br> --}}

    </div>


    </form>

</body>

</html>