<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <title>Login Form</title>
</head>

<body>


    <div class="nav-container">
        <ul class="nav-items">
           
            <a href="/login">
                <li class="nav-item">Login
            </a>
          

        </ul>
    </div>


    <h1>Waiter Availability</h1>


    <div class="loginbox">
        <img src="/css/login (1) (1).jpg" alt="" class="avatar">

        <div>
            {{!-- <select name="" id=""> --}}
                <label for="membership">Choose a login method:</label>
                <select class="nav-item" onchange="goToPage(this.value)">
                    <option value="waitress">Waiter</option>
                    <option value="admin">Admin</option>
                </select>
              
                <p>Please enter your name below to select your workdays</p>
                <form action="/add" method="post">
                    <div class="dropDown">

                        <div class="error">
                            {{messages.error}}
                        </div>


                    
                        <input type="text" name="userInput" value="" placeholder="Enter name">
                        {{user.username}}

                        <a href="/week"><button class="logBtn">Register</button></a>
                       

                </form>
        </div>


    </div>


    </form>
    <script>
        function goToPage(page) {
            if (page == "waitress") {
                location.href = "/"
            } else if(page == "admin") {
                location.href = `/admin`
            }
        }
    </script>
</body>

</html>