<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>


    <div class="nav-container">
        <ul class="nav-items">
            <li class="nav-item"><a href="/days">Schedule</a></li>
            <a href="/logout"><button class="logBtn" type="submit">Logout</button></a>


          

        </ul>
    </div>


    <h1>Waiter Availability</h1>
    <div class="loginbox">
    <form action="/admin" method="post">

        <label>Enter details below to check who is schedulled for work this week</label>

        <input type="text" name="userInput" value="" placeholder="Enter name">
        {{user.username}}

        <input type="Password" name="" placeholder="Enter password">
        <a href="/week"><button class="logBtn">Admin Login</button></a>

    </div>
    </form>


</body>

</html>