body {
    background-image: url(/css/10.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    backdrop-filter: none;
    height: 100vh;
    width: 100vw;
}

/* .logBtn {
    font-size: 17px;
    display: inline-block;
    padding: 15px 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4f5080;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
} */

/* 
body{
    margin: 0;
    padding: 0;
    background: url(/css/img.jpg);
    background-size: cover;
     background-position: center; 
    font-family: sans-serif;
    background-position: cover;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    backdrop-filter: none;
    height: 100%;
    width: 50%; */
/* } */



.logBtn {

    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(12, 147, 201, 0.2) 0 -25px 18px -14px inset, rgba(72, 76, 129, 0.15) 0 1px 2px, rgba(31, 16, 165, 0.15) 0 2px 4px, rgba(24, 23, 87, 0.15) 0 4px 8px, rgba(36, 17, 204, 0.15) 0 8px 16px, rgba(47, 49, 134, 0.15) 0 16px 32px;
    color: rgb(0, 55, 128);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.logBtn:hover {
    box-shadow: rgba(30, 29, 97, 0.35) 0 -25px 18px -14px inset, rgba(120, 154, 182, 0.25) 0 1px 2px, rgba(11, 29, 85, 0.25) 0 2px 4px, rgba(61, 73, 90, 0.25) 0 4px 8px, rgba(21, 25, 78, 0.25) 0 8px 16px, rgba(44, 31, 80, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

/* .logBtn:hover {
    background-color: #2d788f
} */

.logBtn:active {
    background-color: #6e68a0;
    box-shadow: 0 5px rgb(43, 99, 87);
    transform: translateY(4px);
}


.loginbox {
    width: 320px;
    height: 375px;
    /* background: transparent; */
    background: rgb(187, 208, 218);
    color: black;
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
}

.loginboxx{
    width: 750px;
    height: 220px;
    /* background: transparent; */
    background: rgb(187, 208, 218);
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type='text'],
input[type='password'] {
    border: none;
    border-bottom: 1px solid blue;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font: 18px;
}

.loginbox input[type='submit'] {
    border: none;
    outline: none;
    height: 40px;
    background-color: red;
    font-size: 18px;

}

.loginbox input[type='submit']:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginbox a {
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover {
    color: #bb610d;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: -0%;
    left: calc(40%, -40px);
    right: calc(90px)
}

select {
    color: black;
    /* padding: 7px 7px; */
    font-size: 16px;
    background-color: rgb(159, 159, 182)
    ;
}

.nav-container {
    background-color: rgb(146, 177, 179);
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(153, 153, 153, 0.35);
    padding: 10px 10px;
    border: 1px solid #eee;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
}

ul,
li {
    /* list-style: none; */
    -webkit-padding-start: 0;
    /* background: transparent; */
}

.loginBtn{
    background-color: #9ecac89a;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

a {
    text-decoration: none;
    color: white;
}

/* Navigation menu */
.nav-item {
    padding: 1em;
    display: inline;
}

.loginbox1 {
    width: 800px;
    height: 500px;
    /* background: transparent; */
    background: rgb(5, 42, 59);
    color: black;
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
}

h3 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

h2 {
    color: black;
}

.success{
    color: rgb(225, 240, 14);
    font-size: 20px;
    font-weight: bold;
}

.day {
    color: white;
}
h1{
    color: white;
}
.days {
    color: black;
    padding-left: 0.4em;
    white-space: nowrap;
    font-size: 18px;

}

input {

}
.error{
    color: red;
}

.successs{
    color: green;
    font-size: 20px;
    font-weight: bolder;
}



ul {list-style-type: none;}
/* body {font-family: Verdana, sans-serif;} */

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #3d1abc;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* weekdaysss (Mon-Sun) */
.weekdaysss {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdaysss li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.daysss {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.daysss li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:18px;
  color: #777;
}

/* Highlight the "current" day */
.daysss li .active {
  padding: 5px;
  background: #111366;
  color: rgb(46, 14, 14) !important
}

@media only screen and (min-width: 320px) and (max-width: 780px) {
    .container {
        flex-direction: column;
    }

    .body {
        /* flex-direction: column; */
    }

    .menu {
        flex-direction: column;
    }
}